:root {
  --clr-bg: hsl(0, 0%, 100%);
  --clr-contrast-lower: hsl(0, 0%, 93%);
  --clr-contrast-low: hsl(0, 0%, 83%);
  --clr-contrast-md: hsl(0, 0%, 48%);
  --clr-contrast-high: hsl(240, 4%, 20%);
  --clr-contrast-higher: hsl(240, 8%, 12%);
  --clr-darkBlue: hsl(233, 26%, 24%);
  --clr-limeGreen: hsl(136, 65%, 51%);
  --clr-brightCyan: hsl(192, 70%, 51%);
  --clr-grayishBlue: hsl(233, 8%, 62%);
  --fs-h1: 2.75rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-sm: 0.875rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --fw-reg: 300;
  --fw-bold: 700;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-contrast-lower);
  color: var(--clr-darkBlue);
  margin: 0;
  font-family: var(--ff-primary);
}

section {
  padding: 2em 2rem;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus,
input:focus {
  border: none;
  outline: 3px solid var(--clr-brightCyan) !important;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text {
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.navbar {
  border-bottom: 1px solid var(--clr-brightCyan);
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.navbar .nav-link, .navbar-brand {
  position: relative;
}

.navbar .nav-link::before, .navbar-brand::before {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -10px;
  background: -webkit-gradient(linear, left top, right top, from(var(--clr-limeGreen)), to(var(--clr-brightCyan)));
  background: linear-gradient(to right, var(--clr-limeGreen), var(--clr-brightCyan));
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.navbar .nav-link:hover::before, .navbar-brand:hover::before {
  opacity: 1;
}

.search {
  background-color: var(--clr-bg);
  border-radius: 0.25rem;
  margin-top: 2rem;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 35.9375rem) {
  .form {
    margin: 0 2rem;
  }
}

.card-deck .card {
  margin-bottom: 2rem;
}

.card {
  min-width: 300px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

@media (min-width: 48rem) {
  .card {
    max-width: 50%;
  }
}

.card .show-modal {
  opacity: 1;
  z-index: 10;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
  z-index: -1;
}

.card__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__modal__buttons {
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.card__modal__buttons:not(:last-child) {
  margin-bottom: 1rem;
}

.card-img-top {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__badge {
  margin-right: 0.2rem;
  color: white;
  font-size: var(--fs-sm);
}

.details {
  background-color: var(--clr-bg);
  margin: 2rem;
  font-size: var(--fs-body);
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.details__img-container {
  margin-bottom: 1rem;
}

.details__subtitle {
  font-size: var(--fs-h3);
}

.details__videos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details .drink-data {
  background: var(--clr-brightCyan);
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  color: var(--clr-bg);
  margin-right: 1rem;
}

.profile .container {
  background-color: var(--clr-bg);
  padding: 3rem 2rem;
  max-width: 800px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  border-radius: 0.25rem;
}

.register .container {
  background-color: var(--clr-bg);
  padding: 3rem 2rem;
  max-width: 800px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  border-radius: 0.25rem;
}

.about__text {
  line-height: 2;
  letter-spacing: 0.2rem;
}

.about .container {
  background-color: var(--clr-bg);
  padding: 3rem 2rem;
  max-width: 800px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  border-radius: 0.25rem;
  letter-spacing: 0.5rem;
}
/*# sourceMappingURL=style.css.map */