// .cocktails {
//   flex-wrap: wrap;
// }

.card {
  min-width: 300px;
  box-shadow: var(--bs);
}

.card-deck .card {
  margin-bottom: 2rem;

  @include breakpoint-down(xsmall) {
    margin: 2rem;
  }
}
