.search {
  background-color: var(--clr-bg);
  border-radius: 0.25rem;
  margin-top: 2rem;
  box-shadow: var(--bs);
  margin-left: auto;
  margin-right: auto;
}

@include breakpoint-down(xsmall) {
  .form {
    margin: 0 2rem;
  }
}
